
<div>
    <h3>Update media</h3>
    <div class="row">
      <div class="col"><label for="">file name</label></div>
      <div class="col"><input type="text" value="{{file.name}}" #txtfile /></div>
    </div>
    <div class="row">
      <div class="col"><label for="">media description</label></div>
      <div class="col"><input type="text" value="{{media.description}}" #txtdescription /></div>
    </div><div class="row">
      <div class="col"><label for="">tag</label></div>
      <div class="col"><input type="text" value="{{media.tag}}" #txttag /></div>
    </div>
    <div class="row">
      
      <div class="col"><input type="button" value="Update" (click)="updateMedia(txtfile, txtdescription, txttag)" /></div>
    </div>
  </div>